/* fonts*/
@font-face{
	font-family: poetsen ;
	src: url(PoetsenOne-Regular.ttf);
}
@font-face{
	font-family: donkey ;
	src: url(Donkey-Stone.ttf);
}
@font-face{
	font-family: babas ;
	src: url(BebasNeue-Regular.ttf);
}
@font-face{
	font-family: babalu ;
	src: url(Babalu.ttf);
}





*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(mural.jpg);
}
header{
	display: flex;
	flex-direction: row;
	background-color: rgb(0,0,0);
	width: 100%;
	color: white;
	flex-wrap: wrap;
	height: 33px;
}
header h1{
	margin-top: 5px;
	padding-left: 4px;
	font-size: 20px;
	background-color: black;
}
header a{
	margin-top: 10px;
	padding-left: 40px;
	background-color: rgb(0,0,0);
	height: 10px;
	font-size: 10px;
	color: white;
	text-decoration: none;
}
header a:hover{
	color:  #008200;
}



.apresenta{
	height: 500px;
	width: 100%;
	background-image: url(background1.jpg);
	display: flex;
	box-shadow: 0 0 20px black,0 0 40px black;
}
.apresenta div{
	align-items: center;
	justify-content: center;
}
.apresenta div h2{
	width: 50%;
	text-align: center;
	margin: auto;
	margin-top: 80px;
	background-color:  #f7e73b;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	height: auto;
	padding: 20px;

}
.apresenta div h1{
	font-size: 70px;
	color: white;
	text-shadow: 0px 5px 40px black, 0px 5px 40px black;
	margin: auto;
	background-coAlor: blue;
	font-family: donkey;
	text-align: center;
	margin-top: 100px;
}




.centro{
	height: 300px;
	width: 100%;
}



.produtos{
	box-shadow: 0 0 20px black,0 0 40px black;
	height: 350px;
	width: 100%;
	background-color: salmon;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 2fr 6fr 1fr;
	background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(background2.jpg);

}
.produtos a {
	width: 150px;
	border-radius: 50%;
	grid-row: 2/3;
	margin: auto;
	transition-duration: .2s;
}
.produtos a img{
	width: 150px;
	border-radius: 50%;
	grid-row: 2/3;
	margin: auto;
	border: solid 8px rgb(43,22,2);
	transition-duration: .2s;
}
.produtos h1{
	color: white;
	font-size: 50px;
	text-align: center;
	text-shadow: 0 0 10px black,0 0 10px black;
	margin: auto;
	grid-column: 1/4;
	text-decoration: underline;
}
.produtos a img:hover{
	border: solid 8px #006c00;
	box-shadow: 0 0 20px #008200;
}
.produtos h2{
	text-align: center;
	color: white;
	text-shadow: 0 0 20px black,0 0 20px black,0 0 20px black;
}
/*https://i1.pickpik.com/photos/571/899/740/beans-coffee-food-preview.jpg*/
/*https://c1.wallpaperflare.com/preview/115/457/291/coffee-beans-food-texture-pattern.jpg*/
/*https://s2.best-wallpaper.net/wallpaper/5120x2880/1809/Many-coffee-beans-texture-background_5120x2880.jpg*/
/*https://s1.best-wallpaper.net/wallpaper/m/1809/Many-coffee-beans-texture-background_m.jpg*/
/*https://p0.pxfuel.com/preview/825/601/115/coffee-beans-coffee-caffeine-roasted.jpg*/
/*https://c1.wallpaperflare.com/preview/115/457/291/coffee-beans-food-texture-pattern.jpg*/
/*https://c0.wallpaperflare.com/preview/806/780/1019/coffee-coffee-beans-caffeine-black.jpg*/
/*https://p1.pxfuel.com/preview/690/1/142/coffee-coffee-beans-cafe-roasted.jpg*/










.centro{
	color: white;

}
.centro h2{
	width: 65%;
	margin: auto;
	text-align: center;
	font-family: Permanent Marker;
	text-shadow: 0 0 5px rgba(0,0,0,.9);
	font-size: 20px;
	padding: 20px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}


@media only screen and (max-device-width:1920px){}
@media only screen and (max-device-width:800px){}





/*         mobile             */
@media only screen and (max-device-width:800px){
	html{
		overflow-x: hidden;
	}
	header {
		height: 30px;
	}
	header h1{
		font-size: 10px;
	}
	header a {
		padding-left: 10px;
		margin-top: 5px;
	}





	.apresenta{
		height: 250px;

	}
	.apresenta div h1{
		margin-top: 20px;
		font-size: 30px;
	}
	.apresenta div h2{
		width: 60%;
		margin-top: 25px;
		height: auto;
		padding: 5px;
		font-size: 10px;
		text-overflow: clip;
	}




	.centro{
		height: auto;
		width: 100%;
	}
	.centro h2{
		width: 90%;
		height: auto;
		font-size: 10px;
		-webkit-text-stroke-width: .5px;
	}




	.produtos{
		height: 175px;
	}
	.produtos h1{
		font-size: 25px;	
	}
	.produtos a{
		width: 50px;
		margin: auto;
	}
	.produtos a img{
		width: 50px;
		border: solid 4px rgb(43,22,2);
		margin: auto;
	}
	.produtos a img:hover{
	border: solid 4px #006c00;
	box-shadow: 0 0 10px #008200;
	}
	.produtos h2{
	text-shadow: 0 0 10px black,0 0 10px black,0 0 10px black;
	font-size: 10px;
	}
}